---
import { getCollection, CollectionEntry } from "astro:content";

import Layout from "../../layouts/Layout.astro";
import Card from "../../layouts/Card.astro";
import Pagination from "../../layouts/components/Pagination.astro";
import CategoryCloud from "../../layouts/components/CategoryCloud.astro";

import { formatBlogPosts } from "../../layouts/Utils";

export async function getStaticPaths({ paginate }) {
  const allPosts = await getCollection("blog");
  const formattedPosts: CollectionEntry<"blog">[] = formatBlogPosts(allPosts);

  console.log(formattedPosts);

  return paginate(formattedPosts, {
    pageSize: 6,
  });
}

const { page } = Astro.props;
---

<Layout>
  <section aria-label="New Blog Posts">
    <h1>New Blog Posts</h1>
    <ul class="tw-grid tw-gap-5 tw-max-w-2xl">
      {
        page.data.map((post) => (
          <Card data={post.data} url={post.slug} heading="h2" />
        ))
      }
    </ul>
    <Pagination prevUrl={page.url.prev} nextUrl={page.url.next} />
  </section>

  <aside class="container" aria-label="Blog categories">
    <h2 class="h3">Blog Categories</h2>
    <CategoryCloud showCount={true} />
  </aside>
</Layout>
