---
import { getCollection } from "astro:content";

import Layout from "../../layouts/Layout.astro";

export async function getStaticPaths({ paginate }) {
  const allPosts = await getCollection("blog");

  // Filter out draft posts
  const publishedPosts = allPosts.filter(post => !post.data.draft);

  return paginate(publishedPosts, {
    pageSize: 20,
  });
}

const { page } = Astro.props;
---

<Layout>
  <!-- sort by tag|date -->
  <main>
    <section class="container section-sm">
      <div class="row justify-content-center">
        <div class="col-md-8">
          <ul class="list-unstyled">
            {
              page.data.map((post) => (
                <li key={post.id}>
                  <div class="d-flex align-items-center">
                    <!-- <div class="flex-shrink-0">
                      <img src="..." alt="..." />
                    </div> -->
                    <div class="flex-grow-1 ms-3">
                      <a href={`/blog/${post.slug}`}><h2 class="fs-5">{post.data.title}</h2></a>
                      <p>{post.data.description}</p>
                    </div>
                  </div>
                </li>
              ))
            }
          </ul>
          <!-- <Pagination prevUrl={page.url.prev} nextUrl={page.url.next} /> -->
        </div>
      </div>
    </section>
  </main>
</Layout>
