---
import { getCollection } from "astro:content";

import Layout from "../layouts/Layout.astro";
import EntriesOne from "../components/template-parts/EntriesOne.astro";

import ContactForm from "../components/ContactForm.astro";

const allPosts = await getCollection("posts");
const tags = [...new Set(allPosts.map((post) => post.data.tags).flat())];

// Sort posts by date in descending order (newest first)
const sortedPosts = allPosts
  .sort((a, b) => new Date(b.data.pubDate) - new Date(a.data.pubDate))
  .slice(0, 4);
---

<Layout large_banner={true}>
  <main class="d-flex flex-column align-items-center justify-content-center">
    <section class="container">
      <!-- <ol role="list" class="flex flex-wrap gap-3">
          {
            tags.map((tag) => (
              <li class="inline-flex items-center uppercase mx-auto hover:text-blue-500 text-xs font-medium text-black">
                <a href={`/tags/${tag}`}>{tag}</a>
              </li>
            ))
          }
        </ol> -->
      <ul class="grid__posts">
        {
          sortedPosts.map((post) => (
            <EntriesOne
              url={"/posts/" + post.slug}
              title={post.data.title}
              description={post.data.description}
              alt={post.data.title}
              pubDate={post.data.pubDate.toString().slice(0, 10)}
              author={post.data.author}
              image={post.data.image}
              tags={post.data.tags}
            />
          ))
        }
      </ul>
    </section>
  </main>
</Layout>
