---
const {page} = Astro.props;

console.log(page)

---

<ul class="list-unstyled">
    {
      page.map((post) => (
        <li key={post.id}>
          <div class="d-flex align-items-center">
            <!-- <div class="flex-shrink-0">
              <img src="..." alt="..." />
            </div> -->
            <div class="flex-grow-1 ms-3">
              <a href={`/blog/${post.slug}`}><h2 class="fs-5">{post.data.title}</h2></a>
              <p>{post.data.description}</p>
            </div>
          </div>
        </li>
      ))
    }
  </ul>