---
// import { Debug } from "astro/components";
import { Image } from "@astrojs/image/components";
import { slugify, dateToNumber } from "../layouts/_Utils";
// import Link from "./Link.astro";

const { data, url, heading } = Astro.props;

const Heading = heading;

const {
  title = "",
  pubDate = "",
  author = "",
  image = "",
  description = "",
  category = "",
} = data;
---

<article class="card flex gap-4 items-start">
  <!-- <figure>
    <a class="tags" href={`/blog/category/${slugify(category)}/`}
      ><span class="badge">{category}</span>
    </a>
    <a href={`/blog/${url}/`} aria-hidden="true" tabindex="-1">
      <Image
        src={image.src}
        alt={image.alt}
        width="400"
        height="300"
        format="webp"
        fit="cover"
        quality={80}
        aspectRatio={4 / 3}
      />
    </a>
  </figure> -->
  <!-- <Image
    src={image.src}
    alt={image.description}
    width="92"
    height="92"
    format="webp"
    fit="cover"
    quality={80}
    aspectRatio={1 / 1}
    class="object-contain"
  /> -->
  <img src={image.src} alt={image.description} />
  <div class="content">
    <p>
      <!-- by <a href={`/author/${slugify(author)}/`}>{author}</a> |  -->
      {dateToNumber(pubDate)} | <a href={`/blog/category/${slugify(category)}/`}
        >{category}</a
      >
    </p>
    <Heading class="heading">
      <a href={`/blog/${url}/`}>
        {title}
      </a>
    </Heading>
    <p class="description">{description}</p>
  </div>
  <!-- <footer>
    <Link
      href={`/blog/${url}/`}
      text="Read post"
      style="secondary"
      class="mt-auto"
    />
  </footer> -->
</article>
